body {
	background: #2c2f33;
}

.ic-nav {
	background: #23272a;
}

.powered {
	font-size: 0.50em;
}

#console {
	color: #fff;
	height: 224px;
	overflow-y: scroll;
	text-align: left;
	padding-left: 5px;
	border: solid 1px white;
}

.objects {
	display: flex;
	flex-direction: column;
}

.object-btn {
	margin-bottom: 2px;
}

input {
	border: none !important;
	border-radius: 2px;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	text-align: center;
}

button {
	border-radius: 2px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}